<p id="notice"><%= notice %></p>

<h1>RSVPs for <%= @event.name %> </h1>
<h3><%= @event.event_date %></h3>

<h2>This is your event attendence indication</h2>

Total Responses:
<%=@event.event_rsvps.count%>


<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Response</th>
    <th></th>
    <th></th>
  </tr>

<% @event.event_rsvps.each do |event_rsvp| %>
  <tr>
    <td><%= event_rsvp.name %></td>
    <td><%= event_rsvp.email %></td>
    <td><%= event_rsvp.probability %></td>
    <td><%= link_to 'Edit', edit_event_rsvp_path(event_rsvp) %></td>
    <td><%= link_to 'Remove', event_rsvp, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>




<%= link_to 'Edit event', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
