<%= form_for(@event_rsvp) do |f| %>
  <% if @event_rsvp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_rsvp.errors.count, "error") %> prohibited this event_rsvp from being saved:</h2>

      <ul>
      <% @event_rsvp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Your name' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email, 'Your email' %><br />
    <%= f.text_field :email %>
  </div>
    <div class="field">
    <%= f.label :event_id %><br />
    <%= f.collection_select :event_id, Event.all, :id, :name %>
  </div>
  <div class="field">

    <%= f.label :probability_yes, "Yes" %>
    <%= f.radio_button :probability, "yes" %>

    <%= f.label :probability_maybe, "Maybe" %>
    <%= f.radio_button :probability, "maybe" %>

    <%= f.label :probability_no, "No"%>
    <%= f.radio_button :probability, "no" %>

  </div>
  <div class="actions">
    <%= f.submit "Respond" %>
  </div>
<% end %>
